CREATE OR REPLACE PROCEDURE ADVANCE.MINES_ACT_ACCEPTED_W_GUEST
(i_activity_code         VARCHAR2,
RC1 IN OUT refcur_pkg.RC) AS
BEGIN

/*** All Individuals ***/
   OPEN RC1 FOR



  SELECT  A_DW_NAME_TAGS.ACTIVITY_CODE ,    
       A_DW_NAME_TAGS.ACTIVITY_NAME ,  
         A_DW_NAME_TAGS.ID_NUMBER ,    
       A_DW_NAME_TAGS.PREF_MAIL_NAME , 
       A_DW_NAME_TAGS.RECORD_TYPE_CODE , 
       A_DW_NAME_TAGS.PREF_CLASS_YEAR ,  
         A_DW_NAME_TAGS.PREF_NAME_SORT ,
       A_DW_NAME_TAGS.SP_PREF_MAIL_NAME ,   
         A_DW_NAME_TAGS.GUEST_NAME_TAG ,   
        A_DW_NAME_TAGS.PARTICIPATION , 
          A_DW_NAME_TAGS.SP_ATTENDING , 
          A_DW_NAME_TAGS.RECORD_TYPE_DESC ,  
          A_DW_NAME_TAGS.RECORD_TYPE_ORDER ,  
         A_DW_NAME_TAGS.COMPANY_NAME1 ,    
         A_DW_NAME_TAGS.JOB_TITLE ,    
       A_DW_NAME_TAGS.PREF_CLASS_YEAR ,   
        A_DW_NAME_TAGS.GUEST_NMB ,  
         A_DW_NAME_TAGS.SPOUSE_ID ,
           A_DW_NAME_TAGS.VIP ,    
       A_DW_NAME_TAGS.DEGREES ,
     A_DW_NAME_TAGS.COMMENTS 
   FROM A_DW_NAME_TAGS      
WHERE  ACTIVITY_CODE =  i_activity_code;
END;